<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Recipes ({{ studentNumber }})
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

      <ion-button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <!-- Input area for entering ingredients -->
  <ion-item>
    <ion-label position="floating">Enter ingredients (comma separated)</ion-label>
    <ion-input [(ngModel)]="ingredientsText"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="searchForRecipes()">
    Search Recipes
  </ion-button>


  <ion-list *ngIf="recipeResults.length > 0" class="ion-margin-top">

    <ion-card *ngFor="let recipe of recipeResults">

      <ion-card-header>
        <ion-card-title>{{ recipe.title }}</ion-card-title>
      </ion-card-header>

      <img [src]="recipe.image" alt="Recipe image">

      <ion-card-content>
        <ion-button size="small" (click)="openRecipeDetails(recipe)">
          Details
        </ion-button>
      </ion-card-content>

    </ion-card>

  </ion-list>
  <!-- Show message if no recipes were found -->
<p *ngIf="hasSearched && recipeResults.length === 0" class="ion-text-center ion-margin-top">
  No recipes found. Try different ingredients.
</p>


</ion-content>

